<!DOCTYPE html>
<html>
    <head>
        <title>
            Welcome to Courier Service
        </title>

        <style>
            .main {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 100%;
                    position: relative;
                    margin-left: 0%;
            }
            .menuBar {
                background-color: blueviolet;
                height: 6%;
                width: 100%;
                padding-bottom: 2%;
                position: fixed;
                display: flex;
                flex-wrap: wrap;
                margin-left: 0%;
                margin-top: -1%
            }
            a {
                text-align: center;
                padding: 20px;
                color: white; 
                display: inline-block;     
                text-decoration: none;
                font-size: 20px;      
                display: inline-block; 
                width: 12%;  
                position: relative;
            }

        </style>
    </head>
    <body style="background-color:gray;  margin-left: 0%;">
        <div class="main">
            <section class="menuBar">
                <a href="#"><b>Track my Order</b>s</a>
                <a href="#"><b>Booking Courier</b></a>
                <a href="#"><b>View Booking recipts</b></a>
            </section>
             <div><h2 class="toolbar"><b>{% block title %}  {% endblock %}</b> </h2> </div>
            {% block content %} {% endblock %} 
    </body>
</html>
