<!DOCTYPE html>
<html>
    <head>
        <title>
            Welcome to Courier Service
        </title>

        <style>
            .main {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 100%;
                    position: relative;
                    margin-left: 0%;
            }
            .menuBar {
                background-color: blueviolet;
                height: 6%;
                width: 100%;
                padding-bottom: 2%;
                position: fixed;
                display: flex;
                flex-wrap: wrap;
                margin-left: 0%;
            }
            a {
                text-align: center;
                padding: 25px;
                color: white; 
                display: inline-block;     
                text-decoration: none;
                font-size: 25px;      
                display: inline-block; 
                width: 12%;  
                position: relative;
            }

        </style>
    </head>
    <body style="background-color: cadetblue;  margin-left: 0%;">
        <div class="main">
            <section class="menuBar">
                <a href="#"><b>About U</b>s</a>
                <a href="#"><b>Contact Us</b></a>
                <a href="#"><b>Login</b></a>
                <a href="#"><b>Signup Us</b></a>
            </section>
            {% load static %}
            <img src="{% static 'courierService/images/image1.png' %}" alt="backgroundimage" style="position:fixed; width: 100vw; height: 70vh; background-color:aqua; background-size: 100%; background-repeat: no-repeat; position: relative;margin-top: 4.6%;"/>        
        <div><h2 class="toolbar"><b>{% block title %}  {% endblock %}</b> </h2> </div>
            {% block content %} {% endblock %}             


    </body>
</html>
