{% extends 'courierService/base2.html' %}     
    {% block content %} 
    <div style="width: 50%; margin: 0 auto; color: white; margin-top: 4% ">
        <h3 style="text-align: center; font-size: 32px; font-family: Arial, Helvetica, sans-serif; margin-bottom: 1%"> Book Parcel</h3>
    </div>
    <div  style="background-color:aliceblue; width: 50%; margin: 0 auto;"  >
        <br>
        <div style="margin-left: 15%">
                <form action="/customer-name/" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit">
                </form>
        </div>
        <br><br>
    </div>
    {% endblock %}
</body>
