{% extends 'courierService/base.html' %}

{% block title %}
    Contact Us
{% endblock %}


{% block content %} 
   
<h3> Please contact us at</h3>
<b>Contact Number:</b> +91 9686532658<br>
<b>Email Id: </b> feas@opt.com<br>
<b>Fax Number: </b> 73383738<br>
<b>testing the index page: {{ testing_val }}</b>
<h3> Please contact us at</h3>
<b>Contact Number:</b> +91 9686532658<br>
<b>Email Id: </b> feas@opt.com<br>
<b>Fax Number: </b> 73383738<br>
<b>testing the index page: {{ testing_val }}</b>
<h3> Please contact us at</h3>
<b>Contact Number:</b> +91 9686532658<br>
<b>Email Id: </b> feas@opt.com<br>
<b>Fax Number: </b> 73383738<br>
<b>testing the index page: {{ testing_val }}</b>
{% endblock %}