{% extends 'courierService/base.html' %}     
{% block content %} 
<div style="width: 50%; margin: 0 auto; color: white; ">
    <h2 style="text-align: center; font-size: 36px; font-family: Arial, Helvetica, sans-serif"> Sign up to use our services</h2>
</div>
<div  style="background-color:aliceblue; width: 50%; margin: 0 auto;"  >
    <br>
    <div style="margin-left: 15%">
            <form action="/customer-name/" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
    </div>
    <br><br>
</div>
{% endblock %}
</body>
